<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longuto.mybatis.dao.mapper.UserInfoMapper">
    <!--<insert id="addNewUserInfo" parameterType="com.longuto.mybatis.dao.domain.UserInfo" useGeneratedKeys="true" keyProperty="id">-->
        <!--INSERT INTO userinfo (id, username, password)-->
        <!--VALUES (#{id}, #{username}, #{password});-->
    <!--</insert>-->
</mapper>